DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,caerp.local
DJANGO_CSRF_TRUSTED_ORIGINS=https://caerp.local
DAPHNE_HOST=127.0.0.1
DAPHNE_PORT=8000
REALTIME_DB_FORCE_INLINE=1

SQLSERVER_HOST=(localdb)\MSSQLLocalDB
SQLSERVER_PORT=1433
SQLSERVER_DB=DB_CANITA
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=TuPassword
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_EXTRA_PARAMS=TrustServerCertificate=yes;

ECF_PROVIDER_MODE=external
ECF_CERT_FILE=C:\certificados\empresa.p12
ECF_CALLBACK_API_KEY=define-una-clave-larga
ECF_EXTERNAL_SUBMIT_URL=
ECF_EXTERNAL_API_KEY=
ECF_DGII_AUTH_URL=
ECF_DGII_SUBMIT_URL=

WHATSAPP_API_VERSION=v23.0
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_WABA_ID=
WHATSAPP_VERIFY_TOKEN= 

QZ_SIGNING_DIR=C:\PRE-FACTURAS\private\qz
QZ_CERTIFICATE_PATH=C:\PRE-FACTURAS\private\qz\digital-certificate.txt
QZ_PRIVATE_KEY_PATH=C:\PRE-FACTURAS\private\qz\private-key.pem
