DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DB=NombreBaseExistente
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=TuPassword
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_EXTRA_PARAMS=TrustServerCertificate=yes;

ECF_PROVIDER_MODE=external
ECF_CERT_FILE=C:\certificados\empresa.p12
ECF_CALLBACK_API_KEY=define-una-clave-larga
ECF_EXTERNAL_SUBMIT_URL=
ECF_EXTERNAL_API_KEY=
ECF_DGII_AUTH_URL=
ECF_DGII_SUBMIT_URL=
